﻿@model Services.Model.ResumeModel
@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index","ClientHome")"><b>Resume</b>PORTAL</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="@Url.Action("Index","Login")" method="post">
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m=>m.Username,new {@class="form-control", @placeholder="Email / Username" })
                @*<input type="email" class="form-control" placeholder="Email">*@
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @*<input type="password" class="form-control" placeholder="Password">*@
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    @*<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>*@
                    <button class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                
                <!-- /.col -->
            </div>
            <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @if (ViewBag.Message != null) { <span>@ViewBag.Message</span>}</div>
        </form>
        @*<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>*@
        <!-- /.social-auth-links -->
        @*<a href="#">I forgot my password</a><br>*@
        <a href="@Url.Action("Index","Register")" class="text-center">Register a new membership</a>
        <a href="@Url.Action("ForgotPassword","Login")" class="text-center pull-right">Forgot Password</a>
    </div>
    <!-- /.login-box-body -->
</div>