﻿
@model Services.Model.ResumeDetails
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutCV.cshtml";
}
<div id="main">
    <div id="top-content">
        <div class="photo-shaddow">
            <div class="photo-holder"><img src="~/Image/ResumeImages/@Model.Image.Name" style="width:150px" /></div>
        </div>
        <h1> @Model.FullName </h1>
        <h3>@Model.ResumeTitle</h3>
        <p class="top-description">
            @Model.Objective
        </p>

        <h4 class="address"> @Model.Address </h4>
        <h4 class="phone"> @Model.Phone </h4>
        <h4 class="mail"><a href="mailto:@Model.Email">@Model.Email </a></h4>
        <ul class="controls">
            <li class="fa fa-tachometer fa-3x"><a href="@Url.Action("Index","Home")" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:medium;">Dashboard</a></li>
            <li class="print" title="Print CV"><a id="print" href="#">&nbsp;</a></li>
    </div>
    <div class="clearfix"></div>
    <div id="middle-content">
        @if (string.IsNullOrEmpty(Model.Image.Name))
        {
            <div class="hr">&nbsp;</div> }
        @{
            var jobs = Model.JobHistories.Where(x => x.Title != null);
        }
        @if (jobs.Any())
        {
            <h2>Job History</h2>
            <ul class="list">
                <li class="arrow-up">&nbsp;</li>
                @foreach (var job in Model.JobHistories)
                {
                    <li>
                        <h3>
                            @job.Title
                        </h3> <h5>
                            @if (@job.StartDate.GetType() == typeof(DateTime))
                            {
                                <strong>@job.StartDate.ToShortDateString()</strong>
                            }-@if (@job.EndDate.GetType() == typeof(DateTime))
                            {
                                @job.EndDate.ToShortDateString()
                            }
                            else
                            {
                                if (@job.IsActive)
                                {
                                    <strong>Current</strong>
                                }
                            }
                        </h5>
                        <p class="description">
                            @job.Description
                        </p>
                    </li>
                }
            </ul>
        }
        @{
            var education = Model.EducationInfos.Where(x => x.Title != null);
        }
        @if (education.Any())
        {
            <h2>Education </h2>
            <ul class="list">
                <li class="arrow-up">&nbsp;</li>
                @foreach (var edu in Model.EducationInfos)
                {
                    <li>
                        <h3> @edu.Title - @edu.Institute </h3>  <h5>
                            @if (@edu.EndDate.GetType() == typeof(DateTime))
                            {
                                <strong>@edu.StartDate.ToShortDateString()</strong>
                            } - @edu.StartDate.ToShortDateString()-@if (@edu.EndDate.GetType() == typeof(DateTime))
                            {
                                @edu.EndDate.ToShortDateString()
                            }
                            else
                            {
                                if (@edu.IsActive)
                                {
                                    <strong>Current</strong>
                                }
                            }
                        </h5>

                        <div class="description">
                            @edu.Description
                        </div>
                    </li>}
            </ul>
        }
        @{
            var skills = Model.Skills.Where(x => x.Name != null);
        }
        @if (skills.Any())
        {
            <h2>Skills </h2>
            <ul class="list">
                <li class="arrow-up">&nbsp;</li>
                @foreach (var skill in Model.Skills)
                {
                    <li>
                        <h3> @skill.Name </h3>
                        <div> @skill.Level </div>
                    </li>
                }
            </ul>
        }
        @{
            var language = Model.Languages.Where(x => x.Name != null);
        }
        @if (language.Any())
        {
            <h2>Language </h2>
            <ul class="list">
                <li class="arrow-up">&nbsp;</li>
                @foreach (var lang in Model.Languages)
                {
                    <li>
                        <h3> @lang.Name </h3>
                        <div> @lang.Level </div>
                    </li>
                }
            </ul>
        }
    </div>
    <div id="bottom-content">&nbsp;</div>
</div>
